.capstone-project {
  width: 100%;
  margin-right: 0;
  background-image: url(/Screenshot\ \(184\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10%;
}

@media only screen and (min-width: 600px) {
  .capstone-project {
    background-image: url('/Screenshot\ \(184\).png');
  }
}

@media only screen and (max-width: 2440px) {
  .capstone-project {
    background-image: url('/Screenshot\ \(184\).png');
  }
}





.navbar {

  font-family: 'Poppins', sans-serif;
  padding-top: 30px;
  margin-right: 150px;
  display: flex;
}

.logo {
  font-size: large;
  margin-left: 5%;
}

#dropdown-heading,
#legal,
#blog,
#special,
#support {
  font-weight: 800;
  font-size: 1rem;
  color: rgb(66, 71, 103);
}



#dropdown-heading {

  font-weight: 800;
  font-size: 1rem;
  color: rgb(66, 71, 103);



}



.navbar-dark .navbar-nav a.nav-link {
  color: #ffffff;
  font-size: 1.1em;

}

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;

}

@media only screen and (min-width: 440px) {
  .dropdown:hover .dropdown-menu {
    display: flex;



  }

  .dropdown-menu.show {
    display: flex;



  }
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;




}

.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;



}

.dropdown-menu li .dropdown-item:hover {
  background-color: #ffffff;
}

.dropdown-menu li:first-child a {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(66, 71, 103);
}

.dropdown-menu li:first-child a:hover {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 440px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }
}

.btn {
  margin-right: 20px;

}

.badge-b{

  border: 1px solid rgb(202, 59, 59);
  background-color: rgb(179, 61, 61);
  
      }

/* ----------------------------------------space**************************************************************************/








.search-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}






.input-group-text {


  height: 20px;
  border-radius: 1px solid rgb(255, 252, 252);

}

.iconx {

  height: 20px;
}

.btn-a {

  margin-left: 70px;
  margin-right: 0px;
  padding-left: 40px;
  padding-right: 40px;

  background-color: rgb(14, 22, 51);
  color: white;
}


.space {

  font-family: inherit;
  font-size: 20px;
  color: rgb(209, 209, 209);
 
}

.space-a {
  font-weight: 500;
  font-size: 50px;
  font-family: inherit;
  margin-bottom: 50px;

}



.xyz {
  padding-top: 20px;

}


.container-a {
  margin-bottom: 70px;

}



.container-b{
  margin-left: 10%;
margin-top: 5%;
  display: flex;
  justify-content: center;
  
}
.company-names{

  width: 50%;
  
}




/***************************************************3divs***************************************************************************/

.container-c {

  color: rgba(0, 0, 0, 0);

  
  justify-content: center;
  align-items: center;


  background-color: white;
  margin-top: 70px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #424767;

}



.child-div {
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: rgb(0, 9, 128);
}

.progress-div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}


.container-d {

  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}


#progress-bar-heading {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;

  margin-bottom: 30px;
  color: rgb(2, 2, 63);


}



#text {
  margin-top: 30px;
  display: inline-block;
  
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #424767;
}

#button {
  display: flex; 
  justify-content: flex-end;

  position: relative;
  bottom: 100px;
  left: 10px;


}

.btn-1{
  width: 125px;
  margin-left: 90%;
    display: flex;
    justify-content: right;
    padding: 7px 25px;
  }
  

/*********************Top Cities-----------------------------------------------------------------*/





.container-e {


  margin-left: 10%;



  margin-right: 2%;


}








#card1 {
  background-size: cover;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;

  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 0.3s;
  float: left;
  margin: 10px;

}

#card2 {

  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 0.3s;
  float: left;
  margin: 10px;



  background-size: cover;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
}

#card3 {
  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 0.3s;
  float: left;
  margin: 10px;






  background-size: cover;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
}

#card4 {

  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 0.3s;
  float: left;
  margin: 10px;






  background-size: cover;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
}

/*8************************************************hover*****************8*/

#card1:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px #000000;



}

#card2:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px #000000;

}


#card3:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px #000000;
}

#card4:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px #000000;
}


/**********************************************************************************************************88*/




#card1-overlay {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(3, 3, 65);
  opacity: 0.75;

}

#card2-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(3, 3, 65);
  opacity: 0.75;

}

#card3-overlay {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(3, 3, 65);
  opacity: 0.75;
}

#card4-overlay {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(3, 3, 65);
  opacity: 0.75;
}




#card1:hover #card1-image {
  filter: brightness(50%);

}


#card1:hover #card1-overlay {

  display: none;
}






#card2:hover #card2-image {
  filter: brightness(50%);

}


#card2:hover #card2-overlay {
  display: none;

}





#card3:hover #card3-image {

  filter: brightness(50%);
}


#card3:hover #card3-overlay {
  display: none;

}





#card4:hover #card4-image {
  filter: brightness(50%);

}


#card4:hover #card4-overlay {
  display: none;
}





#card1-text {
  position: absolute;
  bottom: 110px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  text-align: center;

  font-family: 'Poppins', sans-serif;

}

#card2-text {
  position: absolute;
  bottom: 110px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  text-align: center;

  font-family: 'Poppins', sans-serif;

}

#card3-text {

  position: absolute;
  bottom: 110px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  text-align: center;

  font-family: 'Poppins', sans-serif;
}

#card4-text {

  position: absolute;
  bottom: 110px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  text-align: center;

  font-family: 'Poppins', sans-serif;


}


/***********************Trending Spaces**********************************************************************************/



#carda:hover{

  box-shadow: 8px 8px 8px rgb(46, 45, 45);
  transition: transform 0.3s ease;

  transform: translateY(-10px);

}
#cardb:hover{

  box-shadow: 8px 8px 8px rgb(46, 45, 45);
  transition: transform 0.3s ease;

  transform: translateY(-10px);

}

#cardc:hover{

  box-shadow: 8px 8px 8px rgb(46, 45, 45);
  transition: transform 0.3s ease;

  transform: translateY(-10px);

}

#cardd:hover{

  box-shadow: 8px 8px 8px rgb(46, 45, 45);
  transition: transform 0.3s ease;

  transform: translateY(-10px);

}

#carde:hover{

  box-shadow: 8px 8px 8px rgb(46, 45, 45);
  transition: transform 0.3s ease;

  transform: translateY(-10px);

}

#cardf:hover{

  box-shadow: 8px 8px 8px rgb(46, 45, 45);
  transition: transform 0.3s ease;

  transform: translateY(-10px);

}


#carde{

height: 100%;

}

#cardf{

  height: 100%;}



.badge{


  background-color: rgb(4, 4, 63);
}


.card-footer {

  width: 100%;
  display: flex;
  background-color: rgb(245,249,254);
  justify-content: space-evenly;
  justify-content: center;
}

.footera{

  margin-right: 15%;
}
.footerb{

  margin-right: 15%;
}


  

#container-g{
 
  font-family: 'Poppins', sans-serif;
  margin-top: 10%;
  
    }

    
    .container-f{

      
margin-top: 30%;
      font-family: 'Poppins', sans-serif;
      
        }
    

.list-group{

  list-style-type:none;
}
.list-group-item{
font-size: 30px;
  list-style-type:none;
}

.card-title{


  font-weight: 700;
  font-size: 1.25rem;
}

.heading{

  font-weight: 600 ;
  font-size: 1.25rem;
}

.btn-d{

  align-items: center;
  margin-top: 15%;
  margin-left: 50%;
  
  
  }
/******************************************************************************************************************************************/



@media only screen and (min-width: 200px) {
  .buttons {


    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;




  }

}

.btn-primary {


  background-color: rgb(3, 3, 61);
  padding: 0 40px;
  align-items: center;

}

.btn-light {
  background-color: white;
  align-items: center;
  padding: 0 40px;
  margin-left: 5%;

}


.btn-light:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
}

/************************************************************************************************************************************/
#container-h {

  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.icon-circle {
  width: 128px;
  height: 128px;
  background-color: rgb(230, 232, 236);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
}

.icon-circle i {
  font-size: 52px;
}

#firstpic {

  width: 128px;
  height: 128px;
  background-color: rgb(230, 232, 236);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}


.picture {
  font-size: 52px;


}

#thirdpic {

  width: 128px;
  height: 128px;
  background-color: rgb(230, 232, 236);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}

.picture3 {
  font-size: 52px;


}

.child-div {

  padding: 40px;

}

.btn-f {

  padding: 20px 60px;
  text-align: center;
  border-radius: 8%;
  margin-top: 20%;
margin-bottom: 5%;
}


/******************************************************************************************************************************************/



#container-i {

  margin-top: 10%;
  text-align: center;


}


.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: opacity .3s;
  position: relative;
}

.rounded-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(82, 82, 82);
  opacity: 0.75;
}

.rounded-circle:hover::before {
  opacity: 0;
}


.performance {


  margin-top: 6%;
  text-align: center;
  margin-left: 32%;
  
 
font-family: 'Explora', cursive;}


#container-j{


  position: relative;
  z-index: 1;
  top: 200px;
color:rgb(66,71, 103);

font-size: 1.5rem;
}

.maap-mark{


  margin-right:8% ;
}
.map-mark{
  color:rgb(66,71, 103);
  font-size: 1.5rem;
  margin-right:2% ;
}

.btn-11{
margin-top: 5%;
padding: 1% 2%;
 background-color: rgb(199, 46, 72);
width: 190px;
}

#last-card:hover{

  box-shadow: 5px 10px 8px 0 rgb(63, 60, 60);
}


.list-group-item{

font-size: 1.5rem;

}

.card-image-right{

width:200px;

}


/*****************************************************************************************************************************************/

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: rgb(13, 27, 72);
    padding: 220px 20px 70px 20px;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
}



@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.text-right-a{

    margin: auto;
    display: flex; align-items: center;
    justify-content: center;
    }
    
    
    .logo-a{
        
      
    text-align: center;
    margin-left: 38%;

    }
    .footer-text-a{
    
     

    text-align: center;
    margin: auto;
    }
    .download-button{


        display: flex;

    }


    .footer-btn{
background-color: white;
margin-right: 10%;

    }

    .logo-1{


        width:100px;
    }


    .footer-col-a{

 position: absolute;
 left: 520px;
 bottom: 0px;
    }
    .badge-b{

border: 1px solid rgb(6, 6, 82);
background-color: rgb(179, 61, 61);

    }

    .download-button:hover {
      background-color: #f1f1f100; 
      /* cursor: pointer; } */}
    

   